services:
  db:
    image: postgres:18-alpine
    environment:
      POSTGRES_USER: app_user
      POSTGRES_PASSWORD: ux2lbNwySM22mHYLJrHx
      POSTGRES_DB: app_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql

volumes:
  pgdata:
