name: Test and mock deploy

on:
  push:
    branches: ["main"]

jobs:
  terraform-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Install CLI tools
        uses: awalsh128/cache-apt-pkgs-action@2c09a5e66da6c8016428a2172bd76e5e4f14bb17
        with:
          packages: jq
          version: 1.0

      - name: Install uv
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b

      - name: Install OpenTofu
        uses: opentofu/setup-opentofu@e95ccdd20623115bfd7d47df14a3250d6066a9d0

      # - name: Azure Login
      #   uses: azure/login@v1
      #   with:
      #     creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Run CI
        # env:
        #   ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
        #   ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
        #   ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}
        run: |
          ./ci.py --skip-azure git:${{ github.event.before }},${{ github.event.after }}
